* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

aside{
  display: flex;
  flex: 1;
  padding: 4rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4b55c1;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  padding: 18px;
  margin-bottom: 2rem;

}

h2{
  font-size: 1.65rem;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

h3{
  font-size: 1rem;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

label{
  font-size: 16px;
  color: #ffff;
}

input{
  width: 100%;
  font-size: 16px;
  height: 35px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: none;
}

span {
  font-size: 14px;
  margin-bottom: 16px;
  color:red;
}


button {
  width: 100%;
  height: 40px;
  font-size: 18px;
  border-style: none;
  margin-top: 18px;
  cursor: pointer;
  padding: 8px;
  background-color: #fa607f;
  border-radius: 10px;
  color: #ffff;
  
}

p {
  text-align: center;
  padding: 10px;
  color: #fff;
}

a {
  width: 100%;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.app{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #4c56c0;
}

.appContainer{
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.btnAction{
  margin: 0;
  padding: 0;
  height: 30px;
  font-size: 14px;
  width: 100px
}

.nav{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

h1{
  color: #fa607f;
}

.logout{
  width: 300px;
  margin: 10px;

}

.leaflet-container {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  margin-left: 16px;
 
}

 .dashboardContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
}

.filterContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.filterContainer label{
  font-size: 24px;
  margin-right: 16px;
}

.filterContainer button {
  width: 300px;
  margin: 0;
}


.dropdown {
  max-width: 500px;
  font-size: 16px;
  height: 35px;
  margin-right: 16px;
  border-radius: 5px;
  border-style: none;
}

.register{
  font-size: 3rem;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

@media (max-width: 1024px){
  aside {
    display: none;
  }

  .app{
    padding: 0;
  }

  .appContainer {
    width: 100%;
    flex-direction: column;
  }

  .nav{
    width: 100%;
  }
  .nav h1{
    font-size: 1.45rem;
  }

  .nav button{
    height: 35px;
    font-size: 16px;
    width: 150px;
  }

  .leaflet-container {
    height: 150px;
    margin-left: 0;
    margin-top: 12px;
  }

  .dropdown {
    width: 100%;
  }
}

@media (max-width: 420px) {

  body {
    background-color: #4b55c1;
  }
  form{
    width: 100%;
    padding: 20px;
  }

  h2 {
    margin-bottom: 2rem;
  }

  .nav{
    flex-direction: column;
    justify-content: space-between;
  }

  .nav h1{ 
    margin-bottom: 8px;
  }
}

@media (max-width: 375px) {

  .appContainer {
    flex-direction: column-reverse;
  }

  .leaflet-container {
    margin-top: 0;
    margin-bottom: 12px;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  label{
    font-size: 14px;
  }

  input{
    height: 30px;
    font-size: 14px;
  }

  button{
    height: 35px;
  }  

}
