* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

aside{
  display: flex;
  flex: 1;
  padding: 4rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4b55c1;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  padding: 18px;
}

h2{
  font-size: 1.65rem;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

h3{
  font-size: 1rem;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

label{
  font-size: 16px;
  color: #ffff;
}

input{
  width: 100%;
  font-size: 16px;
  height: 35px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: none;
}

span {
  font-size: 14px;
  margin-bottom: 16px;
  color:red;
}


button {
  width: 100%;
  height: 40px;
  font-size: 18px;
  border-style: none;
  margin-top: 18px;
  cursor: pointer;
  padding: 8px;
  background-color: #fa607f;
  border-radius: 10px;
  color: #ffff;
  
}

p {
  text-align: center;
  padding: 10px;
  color: #fff;
}

a {
  width: 100%;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #4b55c1;
}

.app{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #4c56c0;
}
.nav{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

h1{
  color: #fa607f;
}

.logout{
  width: 300px;
  margin: 10px;

}
.leaflet-container {
  width: 90%;
  height: 600px;
  border-radius: 10px;
 
}